.list {
  max-width: 68ch;
  margin: 0;
  padding-inline-start: 24px;
  line-height: 1.7;

  li {
    padding-inline-start: 5px;
    margin-block: 8px;

    &::marker {
      font-weight: 600;
      color: var(--mantine-primary-color-filled);
    }
  }
}
